<div class="navbar">
  <h4>Query Data</h4>  
  <a href="/listAddress">Addresses</a><br>  
  <h4>Manage Addresses</h4>  
  <a href="/searchAddress">Search Address</a><br>  
  <div style="position:absolute;bottom:20%">
      <h4>Navigate Site</h4>
      <hr>
      <a href="/">Home</a><br>
   		<a href="/about">About</a><br>
   </div>
</div>
